.page-background {
	background-color: #E2E2E2;
	width: 100%;
	height: 100%;
}
.first-partition {
	width: 1200px;
	height: 250px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #ffffff;
	margin: auto;
	margin-bottom: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	box-shadow: 12px 12px 12px 1px #6ED8D8;
}
.first-partition {
	border: 2px solid black;
}
.second-partition {
	width: 1200px;
	height: 400px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #ffffff;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	box-shadow: 12px 12px 12px 1px #6ED8D8;
}
.second-partition {
	border: 2px solid black;
}
.third-partition {
	width: 1200px;
	height: 1310px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #ffffff;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	box-shadow: 12px 12px 12px 1px #6ED8D8;
}
.third-partition {
	border: 2px solid black;
}
.forth-partition {
	position: relative;
	z-index: -2;
	width: 1200px;
	height: 1400px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #ffffff;
	margin: auto;
	margin-bottom: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	box-shadow: 12px 12px 12px 1px #6ED8D8;
}
.forth-partition {
	border: 2px solid black;
}
.spacing-one {
	padding-top: 25px;
	padding-bottom: 25px;
}
.introduction {
	margin-top: 35px;
	margin: auto;
	margin-left: 100px;
	margin-right: 100px;
	padding-left: 50px;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 30px;
	color: #000000;
	font-family: Georgia, serif;
	font-size: 70px;
	border-top: 2px black solid;
	border-bottom: 2px black solid;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
}
.profile-picture {
	width: 110px;
	height: 140px;
	margin: auto;
	padding-left: 50px;
	padding-right: 45px;
	padding-bottom: 25px;
	float: left;
	border-radius: 75%;

}
.about-me-header {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 50px;
	border-top: 2px solid black;
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 25px;
}
.about-me-article {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 23px;
	margin-left: 100px;
	margin-right: 100px;
	padding-bottom: 25px;
	border-bottom: 2px solid black;
	text-indent: 30px;
}
.qualifications-header {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 50px;
	border-top: 2px solid black;
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 25px;
}
.qual-table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 1000px;
	margin: auto;
}

td, th {
	border: 1px solid #E2E2E2;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #E2E2E2;
}
.workXpTitle {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 50px;
	border-top: 2px solid black;
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 25px;
}
.workXpTable {
 	font-family: arial, sans-serif;
 	border-collapse: collapse;
	width: 1000px;
	margin: auto;
}
.skills-wrapper{ 
	margin-bottom: 15px;
	padding-bottom: 350px; /* !!! ATTENTION !!! */
}
.skills-header {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 50px;
	border-top: 2px solid black;
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 25px;
}
.skills-article {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 23px;
	margin-left: 100px;
	margin-right: 100px;
	padding-bottom: 25px;
	border-bottom: 2px solid black;
	text-indent: 30px;
}
.skill-list-one {
	float: left;
	margin-left: 120px;
	margin-right: 50px;
	width: 350px;
	height: 25px;
	font-size: 20px;
	font-family: arial, sans-serif;
	list-style: circle;
	line-height: 1.6;
}
.skill-list-two {
	float: left;
	margin-left: 120px;
	margin-right: 50px;
	width: 350px;
	height: 25px;
	font-size: 20px;
	font-family: arial, sans-serif;
	list-style: circle;
	line-height: 1.6;
}
.interests-header {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 50px;
	border-top: 2px solid black;
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 25px;
}
.interests-article {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 23px;
	margin-left: 100px;
	margin-right: 100px;	
}
.game-wrapper {
	width: 80%;
	margin: 5% 10% 5% 10%;
}
.gamesImg {
	float: left;
	position: relative;
	z-index: -1
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 300px;
	height: 300px;
	border-radius: 10px;
}
.gamer-name {
	float: left;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 35px solid black;
	padding-top: 25px;
	padding-left: 50px;
	margin-top: 15px;
}
.lower-text-wrapper {
	margin-left: 95px;
	margin-right: 95px;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 50px;
	padding-bottom: 25px;
	font-size: 20px;
	font-family: arial, sans-serif;
}
.footer {
	border-top: 2px solid black;
	margin-left: 95px;
	margin-right: 95px;
	padding-top: 15px;
	padding-left: 25px;
}
.footer-links {
	margin-left: 100px;
	margin-right: 100px;
	padding-left: 25px;
	padding-right: 50px;
}
.footerLink {
	margin: 15px;
	padding: 5px;
	padding-bottom: 50px;
}
.soloLearnLink {
	margin: 15px;
	padding-top: 50px;
	padding-left: 325px;
	padding-right: 5px;
	width: 50px;
	height: 50px;
}
.gitHubLink {
	margin: 15px;
	padding-top: 50px;
	padding: 5px;
	width: 50px;
	height: 50px;
}
/*
................This is the current area being altered............
*/
.info-header {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 25px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.phone {
	float: left;
	padding-top: 10px;
	padding-left: 120px;
	font-size: 20px;
	font-family: arial, sans-serif;
}
.email {
	float: left;
	padding-top: 10px;
	padding-left: 25px;
	font-size: 20px;
	font-family: arial, sans-serif;
}
.codingimg {
	padding-left: 90px;
	padding-right: 50px;
	padding-bottom: 25px;
	width: 1000px;
	height: 350px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;

}